
#colI{
	
	height: 90%;
    width: 49%;
  	text-align:right;
  	margin-right: auto; 
 	margin-left:auto;
 	float:left;
 	padding:2px;		
}
#colD{
	
	height: 90%;
    width: 49%;
  	text-align:left;
  	float:right;
  	margin-right: auto; 
 	margin-left:auto;
 	padding:2px;	
}

#tabla{

    width: 80%;  
	vertical-align: center;
	margin-right: auto; 
 	margin-left:auto;
}

#fila{
	height: 40px;
    width: 100%;
    margin-right: auto; 
 	margin-left:auto;
}

#vehi{
	
	width: 99%;
    margin-right: auto; 
 	margin-left:auto;
}

#barraV{
	text-align: center;
	background-color: 6E8BFF;
	height: 25px;
    width: 100%;
    margin-right: auto; 
 	margin-left:auto;
}
#barraFoto{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:left;
	height:	100%;
    width: 50px;
}
#barraMarca{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	height:	100%;
    width: 12%;
}
#barraModelo{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	height:	100%;
    width: 10%;
}
#barraPrecio{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	height:	100%;
    width: 12%;
}
#barraKM{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	height:	100%;
    width: 12%;
}
#barraColor{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	height:	100%;
    width: 10%;
}
#coches0{
	background-color: DFE5FF;
	width:100%;
	height: 55px;
}
#coches1{
	background-color: 97ACFE;
	width:100%;
	height: 55px;
}
#foto{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width:50px;
	height:50px;
}
#marca{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
    width: 12%;
	height:	100%;
}
#modelo{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width: 10%;
	height:	100%;
}
#precio{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width: 12%;
	height:	100%;
}
#KM{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width: 12%;
	height:	100%;
}
#color{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width: 10%;
	height:	100%;
}
#validar{
	vertical-align: center;
	float: left;
	margin-right: auto; 
 	margin-left:auto;
	text-align:center;
	width: 10%;
	height:	100%;
}
#boton{
	height: 90%;
    width: 98%;
    text-align:center;
  	float:inherit;
  	padding:2px;
}