#pagina {
	width: 1024px;
	margin:auto;
	font-family: "Arial";
}
#header	{
	height: 15px;
	width: 100%;				
} 
#content{
	float: center;
    width: 100%;
    min-height: 600px;
}

#principal{
	vertical-align: center;
	background-color:B3CAFF;
	width: 100%;
	min-height: 560px;
}

#footer{
	float: center;
    background-color:9DBAFF;
	height: 50px;
	width: 100%;
}
#error{
	text-align: center;
	vertical-align: center;
	float: center;
}
#vacio{
	height: 15px;
}