<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>administracion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>administracion.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CargaBD</display-name>
    <filter-name>CargaBD</filter-name>
    <filter-class>administracion.filtros.CargaBD</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CargaBD</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SeleccionarPublicidad</display-name>
    <filter-name>SeleccionarPublicidad</filter-name>
    <filter-class>administracion.filtros.SeleccionarPublicidad</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SeleccionarPublicidad</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>administracion.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrarUsuarios</display-name>
    <servlet-name>AdministrarUsuarios</servlet-name>
    <servlet-class>administracion.servlets.AdministrarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrarUsuarios</servlet-name>
    <url-pattern>/administrar_usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarUsuario</display-name>
    <servlet-name>BorrarUsuario</servlet-name>
    <servlet-class>administracion.servlets.BorrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarUsuario</servlet-name>
    <url-pattern>/borrar_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrarPublicidad</display-name>
    <servlet-name>AdministrarPublicidad</servlet-name>
    <servlet-class>administracion.servlets.AdministrarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrarPublicidad</servlet-name>
    <url-pattern>/administrar_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarPublicidad</display-name>
    <servlet-name>BorrarPublicidad</servlet-name>
    <servlet-class>administracion.servlets.BorrarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarPublicidad</servlet-name>
    <url-pattern>/borrar_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarPublicidad</display-name>
    <servlet-name>ValidarPublicidad</servlet-name>
    <servlet-class>administracion.servlets.ValidarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarPublicidad</servlet-name>
    <url-pattern>/validar_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescartarPublicidad</display-name>
    <servlet-name>DescartarPublicidad</servlet-name>
    <servlet-class>administracion.servlets.DescartarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescartarPublicidad</servlet-name>
    <url-pattern>/descartar_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrarAnuncios</display-name>
    <servlet-name>AdministrarAnuncios</servlet-name>
    <servlet-class>administracion.servlets.AdministrarAnuncios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrarAnuncios</servlet-name>
    <url-pattern>/administrar_anuncios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarAnuncio</display-name>
    <servlet-name>BorrarAnuncio</servlet-name>
    <servlet-class>administracion.servlets.BorrarAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarAnuncio</servlet-name>
    <url-pattern>/borrar_anuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoUsuario</display-name>
    <servlet-name>NuevoUsuario</servlet-name>
    <servlet-class>administracion.servlets.NuevoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoUsuario</servlet-name>
    <url-pattern>/nuevo_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuario</display-name>
    <servlet-name>ModificarUsuario</servlet-name>
    <servlet-class>administracion.servlets.ModificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuario</servlet-name>
    <url-pattern>/modificar_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FichaVehiculo</display-name>
    <servlet-name>FichaVehiculo</servlet-name>
    <servlet-class>administracion.servlets.FichaVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FichaVehiculo</servlet-name>
    <url-pattern>/ficha_vehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrarTarifas</display-name>
    <servlet-name>AdministrarTarifas</servlet-name>
    <servlet-class>administracion.servlets.AdministrarTarifas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrarTarifas</servlet-name>
    <url-pattern>/administrar_tarifas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarTarifa</display-name>
    <servlet-name>BorrarTarifa</servlet-name>
    <servlet-class>administracion.servlets.BorrarTarifa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarTarifa</servlet-name>
    <url-pattern>/borrar_tarifa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaTarifa</display-name>
    <servlet-name>NuevaTarifa</servlet-name>
    <servlet-class>administracion.servlets.NuevaTarifa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaTarifa</servlet-name>
    <url-pattern>/nueva_tarifa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarTarifa</display-name>
    <servlet-name>ModificarTarifa</servlet-name>
    <servlet-class>administracion.servlets.ModificarTarifa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarTarifa</servlet-name>
    <url-pattern>/modificar_tarifa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaPublicidad</display-name>
    <servlet-name>NuevaPublicidad</servlet-name>
    <servlet-class>administracion.servlets.NuevaPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaPublicidad</servlet-name>
    <url-pattern>/nueva_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoAnuncio</display-name>
    <servlet-name>NuevoAnuncio</servlet-name>
    <servlet-class>administracion.servlets.NuevoAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoAnuncio</servlet-name>
    <url-pattern>/nuevo_anuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarAnuncio</display-name>
    <servlet-name>ValidarAnuncio</servlet-name>
    <servlet-class>administracion.servlets.ValidarAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarAnuncio</servlet-name>
    <url-pattern>/validar_anuncio</url-pattern>
  </servlet-mapping>
</web-app>