<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>motorsales</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>MotorSales.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>MotorSales.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Motos</display-name>
    <servlet-name>Motos</servlet-name>
    <servlet-class>MotorSales.servlets.Motos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Motos</servlet-name>
    <url-pattern>/motos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoVehiculo</display-name>
    <servlet-name>NuevoVehiculo</servlet-name>
    <servlet-class>MotorSales.servlets.NuevoVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoVehiculo</servlet-name>
    <url-pattern>/nuevo_vehiculo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MarcasMotos</display-name>
    <filter-name>MarcasMotos</filter-name>
    <filter-class>MotorSales.filtros.MarcasMotos</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MarcasMotos</filter-name>
    <url-pattern>/nuevo_vehiculo</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>IniciarBD</display-name>
    <filter-name>IniciarBD</filter-name>
    <filter-class>MotorSales.filtros.IniciarBD</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IniciarBD</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Coches</display-name>
    <servlet-name>Coches</servlet-name>
    <servlet-class>MotorSales.servlets.Coches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coches</servlet-name>
    <url-pattern>/coches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoUsuario</display-name>
    <servlet-name>NuevoUsuario</servlet-name>
    <servlet-class>MotorSales.servlets.NuevoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoUsuario</servlet-name>
    <url-pattern>/nuevo_usuario</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SeleccionarPublicidad</display-name>
    <filter-name>SeleccionarPublicidad</filter-name>
    <filter-class>MotorSales.filtros.SeleccionarPublicidad</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SeleccionarPublicidad</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SubirFichero</display-name>
    <servlet-name>SubirFichero</servlet-name>
    <servlet-class>MotorSales.servlets.SubirFichero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubirFichero</servlet-name>
    <url-pattern>/subir_fichero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaPublicidad</display-name>
    <servlet-name>NuevaPublicidad</servlet-name>
    <servlet-class>MotorSales.servlets.NuevaPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaPublicidad</servlet-name>
    <url-pattern>/nueva_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpcionesPersonales</display-name>
    <servlet-name>OpcionesPersonales</servlet-name>
    <servlet-class>MotorSales.servlets.OpcionesPersonales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpcionesPersonales</servlet-name>
    <url-pattern>/opciones_personales</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>OpcionesPersonalesComprobarUsuario</display-name>
    <filter-name>OpcionesPersonalesComprobarUsuario</filter-name>
    <filter-class>MotorSales.filtros.OpcionesPersonalesComprobarUsuario</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpcionesPersonalesComprobarUsuario</filter-name>
    <url-pattern>/opciones_personales</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ObtenerVehiculo_FichaVehiculo</display-name>
    <filter-name>ObtenerVehiculo_FichaVehiculo</filter-name>
    <filter-class>MotorSales.filtros.ObtenerVehiculo_FichaVehiculo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObtenerVehiculo_FichaVehiculo</filter-name>
    <url-pattern>/ficha_vehiculo.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Prueba</display-name>
    <servlet-name>Prueba</servlet-name>
    <servlet-class>MotorSales.servlets.Prueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prueba</servlet-name>
    <url-pattern>/prueba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarAnuncio</display-name>
    <servlet-name>ModificarAnuncio</servlet-name>
    <servlet-class>MotorSales.servlets.ModificarAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarAnuncio</servlet-name>
    <url-pattern>/modificar_anuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPublicidad</display-name>
    <servlet-name>ModificarPublicidad</servlet-name>
    <servlet-class>MotorSales.servlets.ModificarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPublicidad</servlet-name>
    <url-pattern>/modificar_publicidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarAnuncio</display-name>
    <servlet-name>BorrarAnuncio</servlet-name>
    <servlet-class>MotorSales.servlets.BorrarAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarAnuncio</servlet-name>
    <url-pattern>/borrar_anuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarPublicidad</display-name>
    <servlet-name>BorrarPublicidad</servlet-name>
    <servlet-class>MotorSales.servlets.BorrarPublicidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarPublicidad</servlet-name>
    <url-pattern>/borrar_publicidad</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodificacionCaracteres</display-name>
    <filter-name>CodificacionCaracteres</filter-name>
    <filter-class>MotorSales.filtros.CodificacionCaracteres</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodificacionCaracteres</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>