*{
	font family: 'ABeeZee', sans-serif;
}

#pagina{

	min-width: 1024px;
	min-height: 768px;
	max-width: 980px;
	margin:auto;
	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
#arriba{
	min-height:150px;
	height:20%;
	width:100%;
	clear:both;
}

.campo_login{
	width:100%;
	size:100%;
}

#colizq{
	margin-left: 8px;
	float:left;
	width: 59%;
	height: 100%;
}
#colder{
	float: right;
	width: 29%;
	height: 100%;
}
#logo{
	float: left;
	width: 10%;
}
#login{
	float:rigth;
	padding: 10px;
	background: rgb(206,224,224); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(206,224,224,1) 37%, rgba(162,216,232,1) 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(37%,rgba(206,224,224,1)), color-stop(66%,rgba(162,216,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0e0', endColorstr='#a2d8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	er: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#9dbc2b',GradientType=1 ); /* IE6-9 */

	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow:  0px 0px 10px 0px #999;
    box-shadow:  0px 0px 10px 0px #999;
	overflow: auto;
}
#logder{
	float : left;
	width: 70%;
	max-height:100%
}
#logiz{
	float: left;
	width:30%;
	max-height:100%
}
#logfil{
	height: 25%;
	margin-left: auto;
	margin-right: auto;
}
#principal{
	width:100%;
	overflow:auto;
}
#tabla{
	margin-right: 5px;
	float:left;
	width: 16%;

}
#tabla2{
	float:left;
	width: 100%;
	
	background: rgb(254,252,234); /* Old browsers */
	background: rgb(206,224,224); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(206,224,224,1) 37%, rgba(162,216,232,1) 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(37%,rgba(206,224,224,1)), color-stop(66%,rgba(162,216,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0e0', endColorstr='#a2d8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow:  0px 0px 10px 0px #999;
    box-shadow:  0px 0px 10px 0px #999;
	
	
}
#centro{
	padding-left: 5px;
	width:80%;
	float: left;
}
#separacion{
	height:100%;
	width: 5px;
	float: left;
}
#formulario{
	width:70%;
	float: right;
	
}

#text{
	width: 20%;
	float: left;
	-webkit-box-shadow:  2px 2px 0.5px 1px #3333;
    box-shadow:  2px 2px 0.5px 1px #3333;
}
#dato{
	width:30%;
	
	float: left;
}
#pies{
	width:100%;
	clear: both;
	background: rgb(206,224,224); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(206,224,224,1) 37%, rgba(162,216,232,1) 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(37%,rgba(206,224,224,1)), color-stop(66%,rgba(162,216,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(206,224,224,1) 37%,rgba(162,216,232,1) 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0e0', endColorstr='#a2d8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	ter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow:  0px 0px 10px 0px #999;
    box-shadow:  0px 0px 10px 0px #999;
}
#boton{
	width:50%;
	float: right;
}
#titulo{
	float: left; 
	width: 100%;
	height: 20px;
}
#fila{
	padding:20px;
	margin:auto;
	overflow:auto;
}
#coches{
	width: 50%;
	float: left;
}
#motos{
	width:50%;
	float:left;
}
#sep_horin{
	height:80px;
	width:100%
}
#reqlog{
	width:70%;
	height: 100%;
	float: right;
}
#footfil{
	padding:10px;
	text-align:center;
}
#fotos{
	wid
}
/*---------------------BOTONES------------------------------*/
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/*--------------------------------------------Tabla lateral----------------------------------------------------------*/
a{
	text-decoration:none;
	color: #1b435e;
}

li{ 
	text-align: left;
}
li:hover{
	box-shadow: 0px 0px 5px 0px #000000;
	color: #ccc;
}
li:active{
	color: #1b435e; 
	background-color: #1b435e; 
	box-shadow: 0px 0px 10px 0px #000000; 
}
a:visited{
	color:#1b435e;
}

.fila{
	width:100%;
}

#banner{
	width:50%;
	height: 100%;
	float:left;
}

#imagen_banner{
	width:100%;
	height: 100%;
}

#texto_publicidad{
	padding-left: 4px;
	width:48%;
	height: 100%;
	float: left;
}

.imagen_default{
	width: 100%;
	height: 100%;
}

#tabla_vehiculos{
	width:100%;
}

.fila_vehiculos{
	width: 100%;
	height: 50px;
}

.fila_vehiculos_impar{
	width: 100%;
	height: 50px;
	background-color: #9A9A9A;
}

.celda_vehiculos{
	width:10%;
	float:left;
	text-align: center;
}

.celda_vehiculos_texto{
	width:10%;
	float:left;
	text-align: center;
	padding-top: 12px;
}

#tabla_formulario_publicidad{
	width: 100%;
}

.fila_formulario_publicidad{
	width: 100%;
}

.col_izq_publicidad{
	width:30%;
	float:left;
	text-align: right;
}

.col_der_publicidad{
	margin-left: 10px;
	width:65%;
	float:left;
}
	
legend{
	font-size: 1.2em;
}

#tabla_datos_personales{
	width: 100%;
}

.fila_datos_personales{
	width: 100%;
}

.col_izq_datos_personales{
	width: 20%;
	float:left;
}

.col_der_datos_personles{
	width:80%;
	float:left;
}

textarea{
	height: 90px;
	width: 300px;
}