#pagina {
	height: 1024px;
	width:1024px;
	margin:auto;
	font-family: "Arial";
}


#arriba	{
	height: 10%;
	width: 100%;				
} 

#colizq {
    float: left; 
    height: 100%;
    width: 50%;     	
}

#colder {
	float: right;		
	height: 100%;
	width: 50%;		
}
#logo{
	float: left;
	background-color: yellow;
	height: 100%;
	width:25%;
}
#login{
	float: right;
	background-color: red;
	height: 100%;
	width:75%;
}



#principal {
	float: center;
    height: 100%;
    width: 100%;		
}

#tabla {
	float:left;
	background-color:pink;
	text-align: center;
	height: 100%;
	width: 15%;
}


#centro {
	float:right;
    height: 100%;
    width: 85%;
}

#coches {
	float:left;
	width: 40%;	

}
#motos {
	float:left;
	width: 40%;

}
#fotos{
	height:50%;
	width: 90%;
	margin:auto;

}

#fila{
	height:100%;
	width: 100%;
	margin:auto;

}
#columnaI{
	float:left;
	
	height:120px;
	width: 160px;
	margin:auto;		
}
#columnaD{
	
	float:right;
	height:120px;
	width: 160px;
	margin:auto;	
}
#boton{
	height: 90%;
    width: 98%;
    text-align:center;
  	float:inherit;
}


#pies {
	float: bot;
    background-color: yellow;
	height: 5%;
	width: 100%;
}

h2{
	text-align: center;
	font-size: 35px;
}
