
*{
	font-family: 'ABeeZee', sans-serif;
}


#pagina {
	#pagina{
	width: 1024px;
	min-height: 480px;
	margin:auto;
}


#arriba	{
	height: 10%;
	width: 100%;				
} 

#colizq {
    	float: left; 
    	height: 100%;
   	width: 50%;     	
}

#colder {
	float: right;		
	height: 100%;
	width: 50%;		
}
#logo{
	float: left;
	background-color: yellow;
	height: 100%;
	width:25%;
}
#login{
	float: right;
	background-color: red;
	
	width:70%;
	background: #fefefd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefd 0%, #dce3c4 42%, #aebf76 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefd), color-stop(42%,#dce3c4), color-stop(100%,#aebf76)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 5px;
    
    	border-radius: 5px;
	-webkit-box-shadow:  0px 0px 10px 0px #999;
        
        box-shadow:  0px 0px 10px 0px #999;
	padding:10;
}

#logder{
	float: left;
	width:20%;
}
#logiz{
	float: left;
	width: 30%;
}
#logfil{
	height:30%;
	margin-right: auto;
	margin-left: auto;
	
}
#principal {
	float: center;
    	height: 100%;
   	width: 100%;		
}

#tabla {
	float:left;
	background-color:pink;
	height: 100%;
	width: 15%;
}

#centro {
	float:right;
    	height: 100%;
    	width: 85%;
}

#formulario{
	height: 100%;
    	width: 80%;
	vertical-align: center;
	margin-right: auto; 
 	margin-left:auto;
}
#fila{
	height: 3%;
    width: 75%;
    margin-right: auto; 
 	margin-left:auto;
}
#titulo {
	height: 90%;
	width: 49%;
  	text-align:right;
  	margin-right: auto; 
 	margin-left:auto;
 	float:left;
 	padding:2px;
  
}
#content {
	height: 90%;
   	width: 49%;
  	text-align:left;
  	float:right;
  	margin-right: auto; 
 	margin-left:auto;
 	padding:2px;
  	
}
#boton{
	height: 90%;
	width: 98%;
    text-align:center;
  	float:inherit;
}


#pies {
	float: bot;
	background-color: green;
	height: 5%;
	width: 100%;
}
h1{
	text-align:center;
}
#textareafil{
	height: 7%;
    width: 75%;
    margin-right: auto; 
 	margin-left:auto; 
}
